<div class="row">
	<div class="left">{{emoji}}</div>
	<input
		type="number"
		name="{{name}}"
		value="{{value}}"
		class="right"
		placeholder="{{name}}"
		step="{{#if step}}{{step}}{{else}}1{{/if}}"
	/>
</div>
