<div class="row">
	<div class="left">{{emoji}}</div>
	<input
		type="{{#if type}}{{type}}{{else}}text{{/if}}"
		name="{{name}}"
		value="{{value}}"
		class="right"
		placeholder="{{name}}"
	/>
</div>
