<p>
	{{#if city}}I am in {{city}}.{{/if}}
	My phone is at {{device.battery_level}}%
	battery{{#if device.battery_status}}, and is {{device.battery_status}}{{/if}}.
	{{#if steps}}Yesterday, I took {{steps}} steps.{{/if}}
	{{#if sleep}}I last slept for {{sleep}}.{{else}}I am currently sleeping.{{/if}}
</p>
