<div class="sectioncontainer h-entry">
	<div class="row">
		<span class="left">🎮</span>
		<span class="right">
			<a href="/game/{{data.game_id}}" rel="noopener">
				<strong class="p-name">{{data.name}}</strong>
			</a>
		</span>
	</div>
	<div class="row">
		<span class="left"></span>
		<span class="right">
			for
			<data class="p-duration" value="{{data.durationIso}}">
				{{data.duration}}
			</data>
		</span>
	</div>

	{{#if data.achievements}}
	<div class="row game-achievements--container">
		<span class="left"></span>
		<div class="right">
			{{#if data.perfectedSession}}
			<p class="game-achievements--bar pct-100" style="padding: 8px 0;">
				🥳 Got 100% during this session!
			</p>
			{{/if}}

			<p>Got <strong>{{data.achievements.length}}</strong> {{data.achievementText}}</p>
			<ul class="game-achievements--list">
			{{#each data.achievements as |achievement|}}
				<li>
					<strong>{{achievement.name}}</strong>
					{{#if achievement.description}}
					<br/>{{achievement.description}}
					{{/if}}
				</li>
			{{/each}}
			</ul>
		</div>
	</div>
	{{/if}}

	<div class="row">
		<span class="left"></span>
		<div class="right">
			<small>
				<time
					title="{{data.created_at}}"
					datetime="{{data.created_at}}"
					class="dt-published"
				>
						<a href="/game-session/{{data.id}}" class="u-url u-uid">
							{{data.timeago}}
						</a>
				</time>

				{{#if data.url}}
				&bull;
				<a href="{{data.url}}" target="_blank" class="p-play-of h-cite u-url" rel="noopener">
					view store page
				</a>
				{{/if}}

			</small>
		</div>
	</div>

	{{> author }}
</div>
