<div id="migration-notice">
	<strong>Migration Notice:</strong>
	After the 31st July 2023, this site will be permanently
	migrating from <strong>tombo.is</strong> to
	<strong><a href="https://now.tomgardiner.me/">now.tomgardiner.me</a></strong>.
	Please update your bookmarks.
</div>

<div id="dashboard--panels">
	{{#if sleep}}
		{{#> dashpanel title="sleep" }}
			<div class="dashboard--panel__graph">
				{{{sleepGraph}}}
			</div>
			<div class="dashboard--panel--meta">
				<div class="dashboard--panel--meta__row">
					<span>average bed time</span>
					<span>
						<strong>{{sleepStats.averageSleepHuman}}</strong>
					</span>
				</div>
				<div class="dashboard--panel--meta__row">
					<span>average wake time</span>
					<span>
						<strong>{{sleepStats.averageWakeHuman}}</strong>
					</span>
				</div>
				<div class="dashboard--panel--meta__row">
					<span>longest sleep</span>
					<span>
						<strong>{{sleepStats.longestHuman}}</strong>
					</span>
				</div>
				<div class="dashboard--panel--meta__row">
					<span>shortest sleep</span>
					<span>
						<strong>{{sleepStats.shortestHuman}}</strong>
					</span>
				</div>
			</div>
		{{/dashpanel}}
	{{/if}}

	{{#> dashpanel title="music" showlink=true }}
		<div class="dashboard--panel__graph">
			{{{listenGraph}}}
		</div>
		<div class="dashboard--panel--meta">
			<div class="dashboard--panel--meta__row">
				<span>fav artist</span>
				<span>
					<strong>{{listens.artist.artist}}</strong>
					<small>(x{{listens.artist.count}})</small>
				</span>
			</div>
			<div class="dashboard--panel--meta__row">
				<span>fav album</span>
				<span>
					<strong>{{listens.album.album}}</strong>
					<small>(x{{listens.album.count}})</small>
				</span>
			</div>
			<div class="dashboard--panel--meta__row">
				<span>fav song</span>
				<span>
					<strong>{{listens.song.title}}</strong>
					<small>(x{{listens.song.count}})</small>
				</span>
			</div>
		</div>
	{{/dashpanel}}

	{{#> dashpanel title="games" showlink=true }}
		<div class="dashboard--panel__graph">
			{{{gamesGraph}}}
		</div>
		<div class="dashboard--panel--meta">
			<div class="dashboard--panel--meta__row">
				<span>fav game</span>
				<span><strong>{{gameStats.favouriteGame}}</strong></span>
			</div>
			<div class="dashboard--panel--meta__row">
				<span>total sessions</span>
				<span><strong>{{gameStats.totalSessions}}</strong></span>
			</div>
			<div class="dashboard--panel--meta__row">
				<span>total playtime</span>
				<span><strong>{{gameStats.totalPlaytimeHuman}}</strong></span>
			</div>
			<div class="dashboard--panel--meta__row">
				<span>average length</span>
				<span><strong>{{gameStats.averagePlaytime}}</strong></span>
			</div>
		</div>
	{{/dashpanel}}

	{{#> dashpanel title="youtube" showlink=true }}
		<ul>
		{{#each youtubeLikes}}
			<li class="dashboard--panel__li">
				<a href="{{url}}" target="_blank" rel="noopener">
					<strong>{{ title }}</strong>
				</a>
				<small>{{channel}}</small>
			</li>
		{{/each}}
		</ul>
	{{/dashpanel}}

	{{#if tvEpisodes}}
		{{#> dashpanel title="tv" showlink=true }}
			<ul>
			{{#each tvEpisodes}}
				<li class="dashboard--panel__li">
					<strong>{{episode_title}}</strong>
					<small>from "<em>{{series_title}}</em>"</small>
				</li>
			{{/each}}
			</ul>
		{{/dashpanel}}
	{{/if}}

	{{#if films}}
		{{#> dashpanel title="films" showlink=true }}
			<ul>
			{{#each films}}
				<li class="dashboard--panel__li">
					<a href="{{url}}" target="_blank" rel="noopener">
						<strong>{{title}} ({{year}})</strong>
					</a>
					<small>
						{{timeago}}
						{{#if rating}} &bull; {{rating}} / 10 ⭐{{/if}}
					</small>
				</li>
			{{/each}}
			</ul>
		{{/dashpanel}}
	{{/if}}

	{{#if books}}
		{{#> dashpanel title="books" showlink=true }}
			<ul>
			{{#each books}}
				<li class="dashboard--panel__li">
					<a href="/book/{{id}}" target="_blank" rel="noopener">
						<strong>{{title}} ({{year}})</strong>
					</a>

					{{#if progress}}
						<small>{{{progress}}}</small>
					{{/if}}
				</li>
			{{/each}}
			</ul>
		{{/dashpanel}}
	{{/if}}

	{{#> dashpanel title="misc" }}
		<div class="dashboard--panel--meta">
			{{#if location}}
			<div class="dashboard--panel--meta__row">
				<span>🌆 location</span>
				<span><strong>{{location}}</strong></span>
			</div>
			{{/if}}
			<div class="dashboard--panel--meta__row">
				<span>🔋 battery</span>
				<span>
					<strong>{{device.battery_level}}%</strong>
					<small>({{device.battery_status}})</small>
				</span>
			</div>
			{{#if steps}}
			<div class="dashboard--panel--meta__row">
				<span>🚶 steps</span>
				<span>
					<strong>{{steps}}</strong>
					<small>(yesterday)</small>
				</span>
			</div>
			{{/if}}
		</div>
	{{/dashpanel}}
</div>
