<div class="page--data">
	{{> pageHeader title="Gaming" url="/" }}

	{{#xif pagination.page '==' 0}}
	<div class="link-bar">
		<span class="link-bar--title">
			top {{popular.length}} played games ({{days}})
		</span>
		<div class="link-bar--links">
			<a href="/games?days=60">60 days</a>
			<a href="/games?days=365">365 days</a>
			<a href="/games?days=alltime">all time</a>
		</div>
	</div>

	{{#if popular}}
	<table class="games-popular">
		{{#each popular as |game| }}
		<tr class="games-popular--game">
			<td class="games-popular--title">
				<a href="/game/{{game.id}}">{{game.name}}</a>
			</td>
			<td class="games-popular--meta">
				<div
					class="artist-count games-popular--bar bar-{{game.popularityPercentage}}"
					style="width: {{game.popularityPercentage}}%"
				>
					{{game.playtime_hours}} hrs
				</div>
				<div class="games-popular--stats">
					<span>last played <a href="/game-session/{{game.session_id}}">
					<strong>{{game.timeago}}</strong></a></span>

					{{#if game.achievement_percentage}}
					<span>
						<span{{#if game.perfected}} class="rainbow-text" style="animation-delay: -{{game.id}}0ms"{{/if}}>
							{{game.achievement_percentage}}%
							completion{{#if game.perfected}}!{{/if}}
						</span>
						<svg class="games-popular--pie {{#if game.perfected}}perfected{{/if}}" viewBox="0 0 70 70">
							<circle class="games-popular--pie__circle" r="15.92" cx="35" cy="35" stroke-dasharray="{{game.achievement_percentage}} 100" />
							<circle class="games-popular--pie__outline" r="30" cx="35" cy="35" />
						</svg>
					</span>
					{{/if}}
				</div>
			</td>
		</tr>
		{{/each}}
	</table>
	{{else}}
	<div class="error rounded-panel">
		<p class="lead">I haven't played any games within the {{days}}! 😭</p>
	</div>
	{{/if}}
	{{/xif}}

	{{#each sessions as |session|}}
		{{> gameActivity data=session }}
	{{/each}}

	<hr/>

	{{> pagination pagination=pagination route="/games" }}
</div>
