<div class="page--data">
	{{> pageHeader title="Listening to" url="/" }}

	{{#if nowPlaying}}
		<p id="now-playing" class="rounded-panel">
			🎧 Now playing:
			<strong>{{nowPlaying.title}}</strong> by
			<strong>{{nowPlaying.artist}}</strong>
		</p>
		<hr/>
	{{/if}}

	{{#xif pagination.page '==' 0}}
	<h3>Most scrobbled artists ({{days}} days)</h3>

	<form action="/music" method="get" name="days">
		<select name="days">
			{{#each dayOptions as |option|}}
				<option
					{{#if option.selected}}selected{{/if}}
					value="{{option.value}}"
				>{{option.value}} days</option>
			{{/each}}
		</select>
		<input type="submit" value="Go" />
	</form>

	{{#if popular}}
	<table>
		{{#each popular as |artist| }}
		<tr>
			<td class="align-r">
				{{artist.artist}}
			</td>
			<td class="table-flex-1">
				<span class="artist-count" style="width: {{artist.popularityPercentage}}%">
					{{artist.count}}
				</span>
			</td>
		</tr>
		{{/each}}
	</table>
	{{else}}
	<div class="error rounded-panel">
		<p class="lead">I haven't listened to any music within the last {{days}} days! 😭</p>
	</div>
	{{/if}}

	<h3>Scrobble count by day</h3>
	{{{svg}}}

	<hr/>
	{{/xif}}

	{{#each listens as |listen| }}
		{{> listen data=listen }}
	{{/each}}

	{{> pagination pagination=pagination route="/music" }}
</div>
