<div class="page--data">
	{{> pageHeader title="Listening to" url="/" }}

	{{#if nowPlaying}}
		<p id="now-playing" class="rounded-panel">
			🎧 Now playing:
			<strong>{{nowPlaying.title}}</strong> by
			<strong>{{nowPlaying.artist}}</strong>
		</p>
		<hr/>
	{{/if}}

	{{#xif pagination.page '==' 0}}
	<div class="link-bar">
		<span class="link-bar--title">
			top {{popular.length}} scrobbled artists ({{days}} days)
		</span>
		<div class="link-bar--links">
			<a href="/music?days=7">7 days</a>
			<a href="/music?days=30">30 days</a>
			<a href="/music?days=60">60 days</a>
			<a href="/music?days=365">365 days</a>
		</div>
	</div>

	{{#if popular}}
	<table>
		{{#each popular as |artist| }}
		<tr>
			<td class="align-r">
				{{artist.artist}}
			</td>
			<td class="table-flex-1">
				<span class="artist-count" style="width: {{artist.popularityPercentage}}%">
					{{artist.count}}
				</span>
			</td>
		</tr>
		{{/each}}
	</table>
	{{else}}
	<div class="error rounded-panel">
		<p class="lead">I haven't listened to any music within the last {{days}} days! 😭</p>
	</div>
	{{/if}}

	<h3>Scrobble count by day</h3>
	{{{svg}}}

	<hr/>
	{{/xif}}

	{{#each listens as |listen| }}
		{{> listen data=listen }}
	{{/each}}

	{{> pagination pagination=pagination route="/music" }}
</div>
